<div class="cards-layout">
    <div *ngFor="let item of recipeList" class="cards">
        <img src="{{item.imageURL}}" height="340"/>
        <p>{{item.name}} </p>
        <div class="actions">
            <app-button (click)="OnSelectingRecipe(item.id)">View</app-button>
            <app-button (click)="OnEditingRecipe(item.id)">Edit</app-button>
            <app-button (click)="OnDeleteRecipe(item.id)">Delete</app-button>
        </div>
    </div>
</div>

@if(ViewRecipe){
    <app-view-recipe (Close)= "OnClosingRecipe()"/>
}
@if(EditRecipe){
    <app-edit-recipe (formSubmit)="OnEditing()" (cancel)= "OnClosing()" />
}